@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Inter:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
font-family: 'Inter', sans-serif;
background: #f8f8f8;
color: #222;
line-height: 1.8;
}

/* NAVBAR */
nav {
display: flex;
justify-content: space-between;
padding: 25px 60px;
background: transparent;
position: fixed;
width: 100%;
top: 0;
}

nav h2 {
font-family: 'Playfair Display', serif;
}

nav ul {
display: flex;
list-style: none;
}

nav ul li {
margin-left: 25px;
}

nav a {
text-decoration: none;
color: #333;
font-size: 14px;
}

/* HERO */
.hero {
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 700px;
margin: auto;
text-align: center;
padding: 0 20px;
}

.hero h1 {
font-family: 'Playfair Display', serif;
font-size: 3.5rem;
margin-bottom: 20px;
}

.hero p {
font-size: 1rem;
color: #666;
max-width: 500px;
}

/* SECTION */
.section {
max-width: 680px;
margin: 120px auto;
padding: 0 20px;
}

.section h2 {
font-family: 'Playfair Display', serif;
font-size: 2rem;
margin-bottom: 20px;
}

/* BLOG */
.blog-container {
margin-top: 30px;
}

.blog-card {
padding: 25px;
border-radius: 12px;
background: white;
transition: 0.3s;
}

.blog-card:hover {
transform: translateY(-4px);
}

.blog-card h3 {
font-family: 'Playfair Display', serif;
margin-bottom: 10px;
}

.blog-card a {
text-decoration: none;
color: #111;
}

.blog-card p {
color: #666;
font-size: 14px;
}

/* FOOTER */
footer {
text-align: center;
margin: 80px 0 40px;
font-size: 14px;
color: #777;
}

body {
  padding-top: 80px;
}
